<h3>Welcome!</h3>

<p>CommuteWorks is a non-profit in the Longwood Medical Area that provides services and benefits to commuters.</p>
<hr />
<p></p>

<% @programs.each do |program| %>
  <%= render 'program', program: program %>
<% end %>
