<%= render 'shared/content_title', title: "Carpool" %>

<p>CommuteWorks is dedicated to helping the LMA go green by rewarding existing carpoolers and helping LMA employees create new carpools. Your ridesharing efforts can earn you up to $250 towards gas plus other great benefits and rewards!</p>  

<p><strong>Requirements:</strong></p>

<p>All Carpools enrolled in our incentive program must operate at least twice per week. Also, only one person in the carpool can have a valid parking pass at a MASCO institution.</p>

<p>Create a commuter profile to enroll in the Carpool program</p>