<%= render 'shared/content_title', title: "CommuteFit" %>

<p>CommuteFit is a fun incentive program that rewards LMA commuters who include walking, running, or biking in their daily commutes.</p>

<p>This program aims to reduce vehicle miles traveled and improve personal health by using your own muscle power to walk or bike as any part of your daily commute. Keep track of those miles and submit your monthly totals to CommuteWorks to be eligible for a monthly drawing for one of three $50 REI gift cards.</p>

<p>It doesn’t matter if you walk or bike one mile or twenty miles a day, or all the way to work or just to the nearest transit station. If you are walking or biking for any portion of your commute, you can register for CommuteFit and start keeping track of your miles. CommuteFit participants are also eligible to register for the Emergency Ride Home Program.</p>

<p>Create a commuter profile to enroll in CommuteFit</p>

<p>Register now!</p>