<%= render 'shared/content_title', title: "Emergency Ride Home" %>

<p>With our Emergency Ride Home (ERH) program, you can leave your car at home and still have peace of mind knowing that if you have an unexpected personal emergency during the work day, CommuteWorks will pay to get you home.</p>

<p>As an employee of a MASCO member institution who walks, bikes, carpools, vanpools or takes public transportation to work, you are eligible to register for ERH and receive a free taxi ride or rental car to take you home in the event of an unexpected personal emergency. Once registered, you can use this service up to five times per year. Please note that students do not qualify for the ERH program.</p>

<p>Create a commuter profile to enroll in the Emergency Ride Home program</p>